<!-- SEO Blog Template (HTML) -->
<section class="blog-article">
  <header class="blog-header">
    <h1>{{title}}</h1>
    <p>{{summary}}</p>

    <div class="post-meta">
      <span>Time: {{date}}</span>
      <span>Category: {{category}}</span>
      <span>Author: {{author}}</span>
    </div>
  </header>

  <div class="toc">
    <strong>Table of Contents</strong>
    <ul>
      <li>{{toc_item_1}}</li>
      <li>{{toc_item_2}}</li>
      <li>{{toc_item_3}}</li>
      <li>{{toc_item_4}}</li>
      <li>{{toc_item_5}}</li>
      <li>{{toc_item_6}}</li>
      <li>{{toc_item_7}}</li>
      <li>{{toc_item_8}}</li>
      <li>{{toc_item_9}}</li>
      <li>{{toc_item_10}}</li>
      <li>{{toc_item_11}}</li>
      <li>{{toc_item_12}}</li>
    </ul>
  </div>

  <section>
    <h2>{{h2_1}}</h2>
    <p>{{h2_1_body}}</p>

    <h3>{{h3_1_1}}</h3>
    <p>{{h3_1_1_body}}</p>

    <h3>{{h3_1_2}}</h3>
    <p>{{h3_1_2_body}}</p>

    <h3>{{h3_1_3}}</h3>
    <p>{{h3_1_3_body}}</p>

    <h3>{{h3_1_4}}</h3>
    <p>{{h3_1_4_body}}</p>
  </section>

  <section>
    <h2>{{h2_2}}</h2>
    <p>{{h2_2_body}}</p>

    <h3>{{h3_2_1}}</h3>
    <p>{{h3_2_1_body}}</p>

    <h3>{{h3_2_2}}</h3>
    <p>{{h3_2_2_body}}</p>

    <h3>{{h3_2_3}}</h3>
    <p>{{h3_2_3_body}}</p>
  </section>

  <section>
    <h2>{{h2_3}}</h2>
    <p>{{h2_3_body}}</p>

    <h3>{{h3_3_1}}</h3>
    <p>{{h3_3_1_body}}</p>

    <h3>{{h3_3_2}}</h3>
    <p>{{h3_3_2_body}}</p>

    <h3>{{h3_3_3}}</h3>
    <p>{{h3_3_3_body}}</p>
  </section>

  <section>
    <h2>{{h2_4}}</h2>
    <p>{{h2_4_body}}</p>

    <h3>{{h3_4_1}}</h3>
    <p>{{h3_4_1_body}}</p>

    <h3>{{h3_4_2}}</h3>
    <p>{{h3_4_2_body}}</p>

    <h3>{{h3_4_3}}</h3>
    <p>{{h3_4_3_body}}</p>
  </section>

  <section>
    <h2>{{h2_5}}</h2>
    <p>{{h2_5_body}}</p>

    <h3>{{h3_5_1}}</h3>
    <p>{{h3_5_1_body}}</p>

    <h3>{{h3_5_2}}</h3>
    <p>{{h3_5_2_body}}</p>

    <h4>{{h4_5_2_1}}</h4>
    <p>{{h4_5_2_1_body}}</p>

    <h4>{{h4_5_2_2}}</h4>
    <p>{{h4_5_2_2_body}}</p>

    <h4>{{h4_5_2_3}}</h4>
    <p>{{h4_5_2_3_body}}</p>

    <h4>{{h4_5_2_4}}</h4>
    <p>{{h4_5_2_4_body}}</p>

    <h4>{{h4_5_2_5}}</h4>
    <p>{{h4_5_2_5_body}}</p>

    <h4>{{h4_5_2_6}}</h4>
    <p>{{h4_5_2_6_body}}</p>

    <h3>{{h3_5_3}}</h3>
    <p>{{h3_5_3_body}}</p>

    <h4>{{h4_5_3_1}}</h4>
    <p>{{h4_5_3_1_body}}</p>

    <h4>{{h4_5_3_2}}</h4>
    <p>{{h4_5_3_2_body}}</p>

    <h4>{{h4_5_3_3}}</h4>
    <p>{{h4_5_3_3_body}}</p>

    <h3>{{h3_5_4}}</h3>
    <p>{{h3_5_4_body}}</p>

    <h3>{{h3_5_5}}</h3>
    <p>{{h3_5_5_body}}</p>
  </section>

  <section>
    <h2>{{h2_6}}</h2>
    <p>{{h2_6_body}}</p>

    <h3>{{h3_6_1}}</h3>
    <p>{{h3_6_1_body}}</p>

    <h3>{{h3_6_2}}</h3>
    <p>{{h3_6_2_body}}</p>

    <h3>{{h3_6_3}}</h3>
    <p>{{h3_6_3_body}}</p>

    <h4>{{h4_6_3_1}}</h4>
    <p>{{h4_6_3_1_body}}</p>

    <h4>{{h4_6_3_2}}</h4>
    <p>{{h4_6_3_2_body}}</p>

    <h4>{{h4_6_3_3}}</h4>
    <p>{{h4_6_3_3_body}}</p>

    <h4>{{h4_6_3_4}}</h4>
    <p>{{h4_6_3_4_body}}</p>
  </section>

  <section>
    <h2>{{h2_7}}</h2>
    <p>{{h2_7_body}}</p>

    <h3>{{h3_7_1}}</h3>
    <p>{{h3_7_1_body}}</p>

    <h3>{{h3_7_2}}</h3>
    <p>{{h3_7_2_body}}</p>

    <h3>{{h3_7_3}}</h3>
    <p>{{h3_7_3_body}}</p>
  </section>

  <section>
    <h2>{{h2_8}}</h2>
    <p>{{h2_8_body}}</p>

    <h3>{{h3_8_1}}</h3>
    <p>{{h3_8_1_body}}</p>

    <h4>{{h4_8_1_1}}</h4>
    <p>{{h4_8_1_1_body}}</p>

    <h5>{{h5_8_1_1_1}}</h5>
    <p>{{h5_8_1_1_1_body}}</p>

    <h5>{{h5_8_1_1_2}}</h5>
    <p>{{h5_8_1_1_2_body}}</p>

    <h3>{{h3_8_2}}</h3>
    <p>{{h3_8_2_body}}</p>

    <h3>{{h3_8_3}}</h3>
    <p>{{h3_8_3_body}}</p>

    <h4>{{h4_8_3_1}}</h4>
    <p>{{h4_8_3_1_body}}</p>

    <h4>{{h4_8_3_2}}</h4>
    <p>{{h4_8_3_2_body}}</p>
  </section>

  <section>
    <h2>{{h2_9}}</h2>
    <p>{{h2_9_body}}</p>

    <h3>{{h3_9_1}}</h3>
    <p>{{h3_9_1_body}}</p>

    <h4>{{h4_9_1_1}}</h4>
    <p>{{h4_9_1_1_body}}</p>

    <h4>{{h4_9_1_2}}</h4>
    <p>{{h4_9_1_2_body}}</p>

    <h4>{{h4_9_1_3}}</h4>
    <p>{{h4_9_1_3_body}}</p>

    <h4>{{h4_9_1_4}}</h4>
    <p>{{h4_9_1_4_body}}</p>

    <h4>{{h4_9_1_5}}</h4>
    <p>{{h4_9_1_5_body}}</p>
  </section>

  <section>
    <h2>{{h2_10}}</h2>
    <p>{{h2_10_body}}</p>

    <h3>{{h3_10_1}}</h3>
    <p>{{h3_10_1_body}}</p>

    <h3>{{h3_10_2}}</h3>
    <p>{{h3_10_2_body}}</p>

    <h3>{{h3_10_3}}</h3>
    <p>{{h3_10_3_body}}</p>
  </section>

  <section>
    <h2>{{h2_11}}</h2>
    <p>{{h2_11_body}}</p>

    <h3>{{h3_11_1}}</h3>
    <p>{{h3_11_1_body}}</p>

    <h4>{{h4_11_1_1}}</h4>
    <p>{{h4_11_1_1_body}}</p>

    <h4>{{h4_11_1_2}}</h4>
    <p>{{h4_11_1_2_body}}</p>

    <h4>{{h4_11_1_3}}</h4>
    <p>{{h4_11_1_3_body}}</p>

    <h3>{{h3_11_2}}</h3>
    <p>{{h3_11_2_body}}</p>

    <h4>{{h4_11_2_1}}</h4>
    <p>{{h4_11_2_1_body}}</p>

    <h4>{{h4_11_2_2}}</h4>
    <p>{{h4_11_2_2_body}}</p>

    <h4>{{h4_11_2_3}}</h4>
    <p>{{h4_11_2_3_body}}</p>

    <h3>{{h3_11_3}}</h3>
    <p>{{h3_11_3_body}}</p>
  </section>

  <section>
    <h2>{{h2_12}}</h2>
    <p>{{h2_12_body}}</p>

    <h3>{{h3_12_1}}</h3>
    <p>{{h3_12_1_body}}</p>

    <h3>{{h3_12_2}}</h3>
    <p>{{h3_12_2_body}}</p>

    <h3>{{h3_12_3}}</h3>
    <p>{{h3_12_3_body}}</p>
  </section>
</section>
